.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1.3rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav i {
  font-size: 1.2rem;
}
/* HERO============== */
.hero-btn {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  border: 0;
  color: white;
  padding: 1rem 2rem;
  font-weight: bold;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.hero-subtitle {
  font-weight: normal;
  font-size: 14px;
}
.hero-main {
  font-size: 30px;
  font-weight: 500;
}
.hero-p {
  color: #777;
  font-size: 14px;
}
.hero-img {
  text-align: center;
  margin: 0 2rem;
}
/* /HERO============== */

/* ABOUT */
.about {
  background-color: white;
  padding-top: 5rem;
}
.about-align {
  padding: 1rem 1rem;
}
/* /ABOUT */
/* Services */
.service-header {
  text-align: center;
  padding-top: 3rem;
}
.service-p {
  text-align: center;
}
.service {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 15px;
  padding: 5rem 0;
}
.service-section {
  text-align: center;
}
.service i {
  font-size: 30px;
  margin: 2rem;
}
.service p {
  color: #777;
  font-size: 14px;
}
/* /Services */
/* Stats  */
.stats-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
.stats-background h1,
p {
  text-align: center;
  color: white;
}
.stats-background h1 {
  font-size: 35px;
  margin: 0;
}
.stats {
  margin: 1rem 0;
}
/* /Stats  */
